<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techart.ats">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.techart.ats.Ats"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.techart.ats.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>



        <activity
            android:name="com.techart.ats.setup.RegisterActivity"
            android:theme="@style/FullScreen" />

        <activity
            android:name="com.techart.ats.setup.LoginActivity"
            android:excludeFromRecents="true"
            android:theme="@style/FullScreen" />

        <activity
            android:name="com.techart.ats.QuestionActivity"
            android:parentActivityName="com.techart.ats.MainActivity"
            android:label="@string/pref_header_about"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.techart.atszambia.QuestionActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.techart.ats.AnswersActivity"
            android:parentActivityName="com.techart.ats.MainActivity">

        </activity>

        <activity
            android:name="com.techart.ats.setup.PasswordResetDialog"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/dialogTheme" />

        <activity
            android:name="com.techart.ats.NewsActivity"
            android:label="@string/message"
            android:parentActivityName="com.techart.ats.MainActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="ats-agrochemicals-limite-1d317.firebaseapp.com"
                    android:pathPrefix="/project/" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.techart.ats.disease.DiseaseActivity"
            android:label="@string/message"
            android:parentActivityName="com.techart.ats.disease.DiseaseListActivity"/>

        <activity
            android:name="com.techart.ats.disease.DiseaseListActivity"
            android:label="@string/message"
            android:parentActivityName="com.techart.ats.MainActivity"/>

        <activity
            android:name="com.techart.ats.admin.news.NewsListActivity"
            android:label="@string/message"
            android:parentActivityName="com.techart.ats.NewsActivity" />

        <activity
            android:name="com.techart.ats.admin.news.NewsEditActivity"
            android:label="@string/message"
            android:parentActivityName="com.techart.ats.NewsActivity" />

        <activity
            android:name="com.techart.ats.AnswerNoticeActivity"
            android:label="@string/message"
            android:parentActivityName="com.techart.ats.NotificationsActivity" />

        <activity
            android:name="com.techart.ats.FullImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.techart.ats.ImageActivity"
            android:label="@string/message"
            android:parentActivityName="com.techart.ats.NotificationsActivity" />

        <activity
            android:name="com.techart.ats.NotificationsActivity"
            android:label="@string/action_notifications"
            android:parentActivityName="com.techart.ats.MainActivity">
            <intent-filter>
                <action android:name="NotificationsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.techart.ats.ScrollingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.techart.ats.NewsActivity" />

        <activity
            android:name="com.techart.ats.ChemicalActivity"
            android:label="@string/title_activity_list"
            android:parentActivityName="com.techart.ats.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.techart.atszambia.ChemicalsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.techart.ats.DirectoryActivity"
            android:label="@string/title_activity_list"
            android:parentActivityName="com.techart.ats.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.techart.ats.AskActivity"
            android:launchMode="singleTop"
            android:label="@string/ask_a_question"
            android:parentActivityName="com.techart.ats.MainActivity" />

        <activity
            android:name="com.techart.ats.MyQuestionsActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.techart.ats.MainActivity" />

        <activity
            android:name="com.techart.ats.AboutActivity"
            android:launchMode="singleTop"
            android:label="@string/action_about"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.techart.ats.MainActivity" />

        <activity
            android:name="com.techart.ats.PestsActivity"
            android:launchMode="singleTop"
            android:label="@string/pests">

        </activity>

        <!-- [START Admin Activities] -->
        <activity
            android:name="com.techart.ats.admin.PostDialogActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/dialogTheme" />

        <activity
            android:name="com.techart.ats.admin.PestsPostActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.techart.ats.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.techart.ats.MainActivity" />
        </activity>

        <activity
            android:name="com.techart.ats.admin.chemicals.CropPostActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.techart.ats.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.techart.ats.MainActivity" />
        </activity>

        <activity
            android:name="com.techart.ats.admin.PestPostActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.techart.ats.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.techart.ats.MainActivity" />
        </activity>

        <activity
            android:name="com.techart.ats.admin.efekto.EfektoPestPostActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.techart.ats.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.techart.ats.MainActivity" />
        </activity>

        <activity
            android:name="com.techart.ats.admin.efekto.EfektoChemicalPostActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.techart.ats.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.techart.ats.MainActivity" />
        </activity>

        <activity
            android:name="com.techart.ats.admin.DirectoryPostActivity"
            android:launchMode="singleTop"
            android:label="@string/add_to_directory"
            android:parentActivityName="com.techart.ats.MainActivity"/>

        <activity
            android:name="com.techart.ats.admin.chemicals.ChemicalPostActivity"
            android:excludeFromRecents="true"
            android:noHistory="true" />

        <activity
            android:name="com.techart.ats.admin.chemicals.ChemicalEditActivity"
            android:excludeFromRecents="true"
            android:noHistory="true" />

        <activity
            android:name="com.techart.ats.admin.CategoryPostActivity"
            android:launchMode="singleTop"
            android:label="@string/add_to_directory"
            android:parentActivityName="com.techart.ats.MainActivity"/>

        <activity
            android:name="com.techart.ats.admin.chemicals.ChemicalsListActivity"
            android:launchMode="singleTop"
            android:label="@string/add_to_directory"
            android:parentActivityName="com.techart.ats.MainActivity"/>

        <activity
            android:name="com.techart.ats.admin.NoticePostActivity"
            android:parentActivityName="com.techart.ats.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.techart.ats.MainActivity" />
        </activity>

        <activity
            android:name="com.techart.ats.admin.news.NewsPostActivity"
            android:parentActivityName="com.techart.ats.MainActivity"/>

        <activity
            android:name="com.techart.ats.admin.disease.DiseasePostActivity"
            android:parentActivityName="com.techart.ats.MainActivity"/>

        <activity
            android:name="com.techart.ats.admin.disease.DiseaseListActivity"
            android:parentActivityName="com.techart.ats.MainActivity"/>

        <activity
            android:name="com.techart.ats.admin.casestudy.CasePostActivity"
            android:parentActivityName="com.techart.ats.MainActivity"/>

        <activity
            android:name="com.techart.ats.admin.disease.DiseaseEditActivity"
            android:parentActivityName="com.techart.ats.MainActivity"/>

        <activity
            android:name="com.techart.ats.admin.disease.ViewDiseasesActivity"
            android:parentActivityName="com.techart.ats.MainActivity"/>

        <activity
            android:name="com.techart.ats.MoreActivity"
            android:parentActivityName="com.techart.ats.MainActivity"/>
        <activity
            android:name="com.techart.ats.CaseActivity"
            android:parentActivityName="com.techart.ats.MainActivity"/>

        <activity
            android:name="com.techart.ats.ReviewActivity"
            android:parentActivityName="com.techart.ats.ChemicalActivity" />


        <activity
            android:name="com.techart.ats.CommentActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.techart.ats.ChemicalActivity" />

        <activity
            android:name="com.techart.ats.CropProgramActivity"
            android:parentActivityName="com.techart.ats.MainActivity"/>

        <activity
            android:name="com.techart.ats.disease.DiseaseDetailActivity"
            android:parentActivityName="com.techart.ats.MainActivity"/>

        <activity
            android:name="com.techart.ats.admin.news.NewVersionActivity"
            android:parentActivityName="com.techart.ats.MainActivity"/>
        <activity
            android:name="com.techart.ats.NewsNoticeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.techart.ats.NotificationsActivity" />
        <activity android:name="com.techart.ats.WebViewActivity" />
        <!-- [END Admin Activitie] -->

        <!-- [START firebase_service] -->
        <service
            android:name="com.techart.ats.service.MyFirebaseMessagingService"
            android:enabled="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>